<div *ngIf="!isFinished else elseBlock">
    <h1 id="title"><strong>{{currentQuestion.tittle}}</strong></h1>

    <div  class="content">
        <form [formGroup]="quizForm">
            
            <p>Tema: {{currentQuestion.theme}}</p>
            <label for="selector">{{currentQuestion.description}} </label>
            <input type="range" id="selector" formControlName="answer">
            <hr>
            <button (click)="submitQuestion()" type="submit" class="submit-button">
                <p id="button-text">Próxima</p>
            </button>
        </form>
    </div>
</div>

<ng-template #elseBlock>
    <div id="div-concluded">
        <h1>Congrads, you just finished the quiz!</h1>
        <p>See above in your results...</p>
    </div>
</ng-template>